html {
    background-color: #f3f3f3;
}

.form-basic {
    margin: 0 auto;
    padding: 55px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}

.form-content {
    margin-bottom: 75px;
    margin-left: 200px;
}

.form-basic .form-row {
    text-align: left;
    margin-bottom: 22px;
}

.form-basic .form-title-row {
    text-align: center;
    margin-bottom: 55px;
}

/* The form title */

.form-basic h1 {
    display: inline-block;
    box-sizing: border-box;
    color: #4c565e;
    font-size: 24px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #6caee0;
    margin: 0;
}

.form-basic .form-row > label span {
    display: inline-block;
    box-sizing: border-box;
    color: #5F5F5F;
    width: 200px;
    text-align: right;
    vertical-align: top;
    padding: 12px 25px;
}

.form-basic input {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px;
    border: 1px solid #dbdbdb;
}

    .form-basic input[type=radio],
    .form-basic input[type=checkbox] {
        box-shadow: none;
        width: auto;
    }

    .form-basic input[type=checkbox] {
        margin-top: 13px;
    }

.form-basic select {
    background-color: #ffffff;
    color: #5f5f5f;
    box-sizing: border-box;
    max-width: 240px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 8px;
    border: 1px solid #dbdbdb;
}

.form-basic textarea {
    color: #5f5f5f;
    box-sizing: border-box;
    width: 240px;
    height: 80px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    font: normal 13px sans-serif;
    padding: 12px;
    border: 1px solid #dbdbdb;
    resize: vertical;
}

.form-basic .form-radio-buttons {
    display: inline-block;
    vertical-align: top;
}

    .form-basic .form-radio-buttons > div {
        margin-top: 10px;
    }

    .form-basic .form-radio-buttons label span {
        margin-left: 8px;
        color: #5f5f5f;
        font-weight: normal;
    }

    .form-basic .form-radio-buttons input {
        width: auto;
    }

.form-basic-button {
    display: block;
    border-radius: 2px;
    background-color: #6caee0;
    color: #ffffff !important;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08) !important;
    padding: 14px 0px !important;
    border: 0 !important;
    margin: 40px 183px 0;
}

.divTableCell {
    border: 0px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    width: 270px;
}

.divTableCellSearch {
    border: 0px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    width: 100px;
}

.Grid {
    padding-left: 100px !important;
}

.EncabezadoGrid {
    border: none;
    border-top: none !important;
    border-left: none !important;
    font-weight: bold !important;
    background-color: #6caee0;
    text-align: center !important;
    border-right: solid 1px #FFF !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    height: 35px;
}

.EncabezadoGrid th {
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center !important;
}

.FilaGrid td {
    color: #666;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #cfcfcf;
    border-right-color: #cfcfcf;
    border-bottom-color: #cfcfcf;
    padding: 2px;
    background-color: #f4f4f4;
    font-family: "Trebuchet MS", Tahoma, Arial, helvetica, verdana, Geneva, sans-serif;
}

.FilaAlternaGrid td {
    color: #666;
    padding: 2px;
    background-color: #FFFFFF;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #cfcfcf;
    border-right-color: #cfcfcf;
    border-bottom-color: #cfcfcf;
    font-family: "Trebuchet MS", Tahoma, Arial, helvetica, verdana, Geneva, sans-serif;
}

.rowPaginador {
    background-color: white;
}

tr.rowPaginador table {
    background-color: #c3def3;
}

tr.rowPaginador td {
    padding: 5px;
    border-top: 1px solid #CCCCCC;
    color: Black;
    font-size: 12;
}

tr.rowPaginador a {
    color: #17B4FF;
    text-decoration: none;
    font-size: 12;
}

    tr.rowPaginador a:hover {
        font-weight: bolder;
        font-size: 12;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        !important;
    }

    tr.rowPaginador a:link {
        padding-top: 20px;
        color: #17B4FF;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: underline;
        !important
    }

    tr.rowPaginador a:visited {
        color: #179647;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        !important
    }


/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {

    .form-basic {
        padding: 30px;
        max-width: 480px;
    }

        .form-basic .form-row {
            max-width: 300px;
            margin: 25px auto;
            text-align: left;
        }

        .form-basic .form-title-row {
            margin-bottom: 50px;
        }

        .form-basic .form-row > label span {
            display: block;
            text-align: left;
            padding: 0 0 15px;
        }

        .form-basic select {
            width: 240px;
        }

        .form-basic input[type=checkbox] {
            margin-top: 0;
        }

        .form-basic .form-radio-buttons > div {
            margin: 0 0 10px;
        }

        .form-basic button {
            margin: 0;
        }
}
