@{
    ViewBag.Title = "Crear";
}

<br />
<br />
<br />

<div class="panel panel-primary">
    <div class="panel-heading">Ingreso de Pacientes</div>
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="paciente" role="form" method="post" action="">

            <table class="table table-striped">

                <tr>
                    <td>Tipo de documento</td>
                    <td>
                        <select class="form-control" id="tipoDocumento" data-validation="required" data-validation-error-msg="Debe seleccionar un tipo de documento">
                            <option></option>
                            <option>Cédula de Ciudadanía</option>
                            <option>Tarjeta de Identidad</option>
                        </select>
                    </td>
                    <td>Número de documento</td>
                    <td><input type="text" maxlength="20" placeholder="Número de documento" class="form-control numero" id="numeroDocumento" /></td>
                </tr>
                <tr>
                    <td>Primer nombre</td>
                    <td><input type="text" class="form-control" id="primerNombre" /></td>
                    <td>Segundo nombre</td>
                    <td><input type="text" class="form-control" id="segundoNombre" /></td>
                </tr>
                <tr>
                    <td>Primer apellido</td>
                    <td><input type="text" class="form-control" id="primerApellido" /></td>
                    <td>Segundo apellido</td>
                    <td><input type="text" class="form-control" id="segundoApellido" /></td>
                </tr>
                <tr>
                    <td>Fecha de nacimiento</td>
                    <td>
                        <div class='input-group date fecha'>
                            <input type='text' class="form-control" id="fechaNacimiento" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                    <td>Sexo</td>
                    <td>
                        Masculino
                        <input type="radio" name="sexo" value="M" />&nbsp;
                        Femenino
                        <input type="radio" name="sexo" value="F"/>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="Registrar" class="btn-primary" />
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>
<script>
    var spanishLanguage = {
        errorTitle: 'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validateOnBlur: false, // disable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' which is default
        scrollToTopOnError: false, // Set this property to true on longer forms
        language : spanishLanguage
    });

    $('.fecha').datepicker({
        language: "es",
        autoclose: true,
        format: "dd/mm/yyyy",
        todayHighlight: true
    });

    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });
    
    $('#paciente').submit(function (evt) {
        if ($('#numeroDocumento').val().length < 6) {
            bootstrap_alert.warning('El número de documento debe tener mínimo seis dígitos');
            return false;
        }
    });

    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
html('<div class="alert alert-danger">' +
'<a class="close" data-dismiss="alert">×</a><span>'
+ message + '</span></div>');
    };

</script>

