@{
    ViewBag.Title = "Crear";
}

<br />

<div class="panel panel-primary">
    <div class="panel-heading">Ingreso de Pacientes</div>
    <div class="panel-body">
        <form role="form" method="post" action="">

            <table class="table table-striped">

                <tr>
                    <td>Tipo de documento</td>
                    <td>
                        <select class="form-control" id="tipoDocumento">
                            <option></option>
                            <option>Cédula de Ciudadanía</option>
                            <option>Tarjeta de Identidad</option>
                        </select>
                    </td>
                    <td>Número de documento</td>
                    <td><input type="number" required maxlength="20" placeholder="Número de documento" class="form-control" id="numeroDocumento" /></td>
                </tr>
                <tr>
                    <td>Primer nombre</td>
                    <td><input type="text" class="form-control" id="primerNombre" /></td>
                    <td>Segundo nombre</td>
                    <td><input type="text" class="form-control" id="segundoNombre" /></td>
                </tr>
                <tr>
                    <td>Primer apellido</td>
                    <td><input type="text" class="form-control" id="primerApellido" /></td>
                    <td>Segundo apellido</td>
                    <td><input type="text" class="form-control" id="segundoApellido" /></td>
                </tr>
                <tr>
                    <td>Fecha de nacimiento</td>
                    <td>
                        <div class='input-group date' id='dvFechaNacimiento'>
                            <input type='text' class="form-control" id="fechaNacimiento" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                    <td>Sexo</td>
                    <td>
                        Masculino
                        <input type="radio" name="sexo" value="M" />&nbsp;
                        Femenino
                        <input type="radio" name="sexo" value="F"/>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="Registrar" class="btn-primary" />
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>
<script>
    $('#dvFechaNacimiento').datepicker({
        language: "es",
        autoclose: true,
        format: "dd/mm/yyyy",
        todayHighlight: true
    });

</script>

