<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Dieta</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/estilos.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/Content/assets/form-basic.css" />
    <link rel="stylesheet" href="~/Content/assets/demo.css" />
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Content/buttons.dataTables.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.es.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.html5.min.js"></script>
    <script type="text/javascript" src="~/Scripts/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/Scripts/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Scripts/chart.loader.js"></script>
    <script type="text/javascript" src="~/Scripts/jszip.min.js"></script>
</head>
<body>
    <header>
        <h1>Gestión de Dieta</h1>
    </header>

    <ul class="menu">
        <li><a href="~/Home/Index">Inicio</a></li>
        <li><a href="~/Paciente/Crear">Datos Paciente</a></li>
        <li><a href="~/Paciente/Index">Listado Pacientes</a></li>
        <li><a href="~/Paciente/Grafico">Informes Gráficos de Pacientes</a></li>
        <li><a href="~/Account/LogOut">Cerrar Sesión</a></li>
    </ul>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
